---
import BaseHead from "../components/baseHead.astro";
import LayoutShell from "../components/shell";
---

<html lang="en" translate="no">
	<head>
		<BaseHead />
	</head>
	<body>
		<LayoutShell client:only="react" />
	</body>
</html>
