---
import BaseHead from "../components/baseHead.astro";
import Layout from "../layouts/layout";
---

<html lang="en" translate="no">
	<head>
		<BaseHead />
	</head>
	<body>
		<Layout client:only="react" />
	</body>
</html>
