@import "tailwindcss";

:root {
  --rfont-family: 'Monaspace Argon', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --rfont-size: .8125rem;
  --rfont-weight: 400;
  --rbody-colour: #FAF9F5;

  color-scheme: dark;
}

/* --- start of reset --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* --- end of reset --- */


body {
  font-family: var(--rfont-family);
  font-size: var(--rfont-size);
  font-weight: var(--rfont-weight);
  color: var(--rbody-colour);
}