@import "tailwindcss";

:root {
  color-scheme: dark;

  --rfont-family: 'Monaspace Argon', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --rfont-size: .8125rem;
  --rfont-weight: 400;
  --rbody-color: #c9c7c4;

  --rcolor-bg: #1d1f21;
  --rcolor-fg: #c5c8c6;

  --rcolor-0: #282a2e;
  --rcolor-1: #a54242;
  --rcolor-2: #8c9440;
  --rcolor-3: #de935f;
  --rcolor-4: #5f819d;
  --rcolor-5: #85678f;
  --rcolor-6: #5e8d87;
  --rcolor-7: #707880;

  --rcolor-8: #373b41;
  --rcolor-9: #cc6666;
  --rcolor-10: #b5bd68;
  --rcolor-11: #f0c674;
  --rcolor-12: #81a2be;
  --rcolor-13: #b294bb;
  --rcolor-14: #8abeb7;
  --rcolor-15: #c5c8c6;

  --rcolor-highlight: #161719;
  --rcolor-gap: #35393c;

}

/* --- start of reset --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* --- end of reset --- */


body {
  font-family: var(--rfont-family);
  font-size: var(--rfont-size);
  font-weight: var(--rfont-weight);
  color: var(--rbody-color);
}

a {
  color: var(--rcolor-4);
  text-decoration: underline;
}