@import '../../node_modules/flexlayout-react/style/dark.css';


.flexlayout__layout {
  --font-family: var(--rfont-family);
  --font-size: var(--rfont-size);
  --color-text: var(--rbody-colour);

  /* basics */
  --color-background: #1d1f21;
  --color-base: #1d1f21;
  --color-1: #35393c;
  --color-2: rgb(25.5, 25.5, 25.5);
  --color-3: rgb(38.25, 38.25, 38.25);
  --color-4: #333333;
  --color-5: rgb(63.75, 63.75, 63.75);
  --color-6: rgb(76.5, 76.5, 76.5);
  --color-7: #8c9440;
  --color-8: #292c2f;

  /* --- tabs --- */
  --color-tabset-background: var(--color-1);
  /* unfocused tab bar*/
  --color-tabset-background-selected: var(--color-1);
  /* ?? */
  --color-tabset-background-maximized: var(--color-6);
  /* ?? */
  --color-tabset-divider-line: var(--color-4);
  /* divider between tab bar and content */
  --color-tabset-header-background: var(--color-1);
  /* ?? */
  --color-tabset-header: var(--color-text);
  /* ?? */
  --color-border-tab-content: var(--color-background);
  /* ?? */
  --color-border-background: var(--color-1);
  /* ?? */
  --color-border-divider-line: var(--color-4);
  /* ?? */
  --color-tab-content: var(--color-background);
  /* tab content background */
  --color-tab-selected: var(--color-text);
  /* selected tab in tab group text */
  --color-tab-selected-background: var(--color-background);
  /* selected tab background */
  --color-tab-unselected: gray;
  /* unselected tab/s in tab group text */
  --color-tab-unselected-background: var(--color-8);
  /* unselected tab/s background */
  --color-tab-textbox: var(--color-text);
  /* font colour inside the tab name editor */
  --color-tab-textbox-background: var(--color-3);
  /* background of the tab name editor */
  --color-border-tab-selected: var(--color-text);
  /* ?? */
  --color-border-tab-selected-background: var(--color-4);
  /* ?? */
  --color-border-tab-unselected: gray;
  /* ?? */
  --color-border-tab-unselected-background: var(--color-2);
  /* ?? */

  /* --- window management --- */
  --color-splitter: var(--color-1);
  /* divider between windows */
  --color-splitter-hover: var(--color-7);
  /* hover of diver between windows */
  --color-splitter-drag: var(--color-7);
  /* resizing windows preview line */
  --color-drag-rect-border: var(--color-4);
  /* dragging/moving tab border */
  --color-drag-rect-background: var(--color-1);
  /* dragging/moving tab background */
  --color-drag-rect: var(--color-text);
  /* dragging/moving tab text */
  --color-popup-border: var(--color-6);
  /* ?? */
  --color-popup-unselected: var(--color-text);
  /* ?? */
  --color-popup-unselected-background: var(--color-background);
  /* ?? */
  --color-popup-selected: var(--color-text);
  /* ?? */
  --color-popup-selected-background: var(--color-4);
  /* ?? */
  --color-edge-marker: gray;
  /* edge marker background */
  --color-edge-icon: #eee;
  /* edge marker icon */
  --color-mini-scroll-indicator: rgba(128, 128, 128, 0.5);
  /* ?? */
  --color-mini-scroll-indicator-hovered: rgba(128, 128, 128, 0.8);
  /* ?? */
  --size-mini-scroll-indicator: 3px;
  /* ?? */
  --color-toolbar-button-hover: var(--color-4);
  /* ?? */
}

.flexlayout__tabset-selected {
  background-image: none;
  background-color: var(--color-5);
}

.flexlayout__tabset-maximized {
  background-image: none;
  background-color: var(--color-6);
}

.flexlayout__splitter_drag {
  border-radius: 0;
}

.flexlayout__tabset_tabbar_outer_top {
  padding: 2px 2px 0px 0px;
  border-bottom: 0;
}

.flexlayout__tabset_tabbar_outer_bottom {
  padding: 0px 2px 2px 0px;
  border-top: 0;
}

@media (hover: hover) {
  .flexlayout__splitter:hover {
    border-radius: 0;
  }
}

.flexlayout__tab_button--unselected .flexlayout__tab_button_trailing {
  visibility: visible;
}

@media (hover: hover) {
  .flexlayout__tab_button:hover {
    background-color: var(--color-tab-selected-background);
  }
}

.flexlayout__tabset_tabbar_inner_tab_container {
  padding-left: 0;
}